﻿// /*#region Form đăng nhập */
// .login-page{background: #fff}
// .login-form{
//     margin-top:88px;
//     .login-form-help{color:#333}
//     .login-form-body{
//         padding:30px;
//         max-width:690px;margin:auto;
//         background:#fff;
//         @include border;
//         @include box-shadow;

//         .login-logo{margin-bottom:30px}
//     }    
// }
// /*#endregion */

// textarea[data-editor-pic]{min-height:525px}
