@font-face {
    font-family: 'RobotoCondensed';
    src: url("fonts/RobotoCondensed-Light.ttf"); }
  @font-face {
    font-family: 'RobotoCondensed';
    src: url("fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold; }
  @font-face {
    font-family: 'RobotoRegula';
    src: url("fonts/RobotoCondensed-Regular.ttf"); }
  @font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto.ttf"), url("fonts/roboto.woff"); }
  @font-face {
    font-family: 'Robotolight';
    src: url("fonts/RobotoCondensed-Light.ttf"); }
  @font-face {
    font-family: 'Robotobold';
    src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
    font-weight: bold; }
  @font-face {
    font-family: 'SVNbold';
    src: url("fonts/SVN-Helvetica Neue Bold.ttf");
    font-weight: bold; }
@font-face {
        font-family: 'SVNavo';
        src: url("fonts/SVN-Avo.ttf");
         }
@font-face {
            font-family: 'SVNavobold';
            src: url("fonts/SVN-Avo\ bold.ttf");
            font-weight: bold; }
@font-face {
            font-family: 'SVNavoitalic';
            src: url("fonts/SVN-Avo\ italic.ttf");
}
        
*{margin: 0; padding: 0;}
$maunau: #c8631e;
$dorongnoidungtour:1200px;
$khoangcachtourcol:25px;
$dorongtourcol2-2: 575px;
body,html{overflow-x: hidden;}

// css top-header

#top-header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: $maunau;
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            list-style: none;
            a{
                font-size: 15px;
                font-family: 'Roboto';
                color: #fff;
                text-decoration: none;
                display: block;
                padding:0 12px;
                cursor: pointer;
                &:hover{
                    background:#d3824b;
                }
            }
        }
    }
}

    //css cho header

#header{
	height: 87px;
    width: 100%;
	a{
		display: flex ;width: 50%;
	}
	.header-contact{
		display: flex;
	    justify-content: flex-end;
	    width: 50%;
	    align-items: center;
		.ngonngu{
			padding-right: 20px;
			border-right:1px solid #ddd;
			img{margin-right: 10px;}
			span{
				font-size: 18px;
				color: #333;
			}
		}
		.phone{
			display: flex;
			margin-left: 20px;
			img{
				margin-right: 10px;
			}
			.hotline{
				p{
					margin: 0;
					font-size: 18px;
					color: 333;
				&.sdt{
					color: red;
					font-size: 20px;}	
				}
			}
		}
	}
}

#slide-w{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 724px;
    .slide{
        .imgc0{
            img{
                width: 100%;
                height: 724px;
            }
        }
    }
    .content-slide{
        text-align: center;
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-family: 'SVNavo';
        p.khampha{
            font-size: 30px;
            margin: 0;
            padding: 0;
            margin-top: 100px;
        }
        h1{
            margin: 0;
            padding: 0;
            margin-top: 35px;
            font-size: 45px;
            text-transform: uppercase;
            font-family: 'SVNavobold';
        }
        p{
            margin:0;
            padding: 0;
            margin-top:35px;
            font-size: 20px;
        }
        a{  
            margin: 0;
            padding: 0;
            font-size: 20px;
            background: transparent;
            border: 1px solid #fff;
            margin-top: 35px;
            padding: 15px 24px;
            color: #fff;
            font-family: 'Roboto';
        }
    }
    .form{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 200px;
        background: #23505a6e;
        .form-t{
            display: flex;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            width: 880px;
            p{
                color: #fff;
                font-size: 20px;
                font-family: 'Robotoregula';
                margin-top: 30px;
                margin-bottom: 10px;
                width: 390px;
                padding-left: 20px;
            }
        }
        form{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 900px;
            height: 48px;
            display: flex;
            margin-bottom: 85px;
            input{
                width: 390px;height: 48px;
                color: #fff;
                font-size: 18px;
                font-family: 'Robotoregula';
                border: none;
                padding-left: 10px;
                &.form-ip1{
                    border-right: 1px solid #ddd;
                    border-radius: 4px 0 0 4px;
                }
            }
            button{width: 120px;
                height: 48px;
                font-size: 18px;
                font-family: 'Roboto';
                text-transform: uppercase;
                background: #2587bf;
            }
        }
    }
}

    // css cho timtour

#timtour{
        width: 100%;
        height: 93px;
        line-height: 93px;
        position: relative;
        border-bottom: 1px solid #ababab;
        .wrap-itemtour{
            img{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        
        .item-tour{
            border-bottom: 3px solid transparent;
            &:hover{
                border-bottom: 3px solid red;
            }
            a{
                text-decoration: none;
            img{margin-right: 5px;}
            span{
                font-size: 18px;
                text-transform: uppercase;
                font-family: 'SVNbold';
                &.t1{
                    color: #015196;
                }
                &.t2{
                    color: #f0433a;
                }
                &.t3{
                    color: #f2a30f;
                }
                &.t4{
                    color: #0d8e74;
                }
              }
            }
        }
    }
    // css cho loai tour
#loaitour{
        width: 100%;
        height: 133px;
        .borderb-saw{
            width: 100%;
            height: 133px;
            position: absolute;
           
            img{
                position: absolute;
                bottom: 0;
                 width: 100%;
            }
        }
        .wrap-item_loaitour{
            .loaitour-img{
                display: flex;
                margin-top: 25px;
                text-align: center;
            a{
                text-decoration: none;
                color: #333;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;}
                p{
                 font-size: 16px;
                font-family: 'Roboto';
                }
                }
            }
        }
    }


    //css cho tour-last
#tour-last{
    padding-top: 60px;
    text-align: center;
    background: #f6f6f6;
    h3.tour-last_title{
        font-size: 30px;
        font-family: 'SVNbold';
        color: #c8631e;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        font-family: 'RobotoRegula';
        color: #333;
        margin-bottom: 40px;
    }
       .wrap-item_tour-last{
        display: flex;
        height: 265px;
        margin-bottom: 30px;
        width: 100%;
           &.p2{
            flex-direction: row-reverse;  
            width: 100%;
           }
           .wrap-img_tourlast{
            width: 50%;
            overflow: hidden;
               .imgcw:before{
                padding-bottom: 46%;
               }
           }
           .info_tour-last{
            width: 50%;
               h4{
                font-size: 20px;
                color: #ff8d00;
                margin: 0;
                margin-top: 20px;
                margin-left: 25px;
                margin-bottom: 30px;
                font-family: 'Roboto';
                text-align: left;
               }
               .lichdi{
                display: flex;
                text-align: left;
                   .chuanbi{
                    width: 50%;
                    padding-left: 25px;
                    margin-bottom: 20px;
                    p{
                        font-size: 16px;
                        font-family: 'Roboto';
                        margin-bottom: 5px;}
                   }
                   .khoihanh{
                    p{
                        font-size: 16px;
                        font-family: 'Roboto';
                        margin-bottom: 5px;}
                   }
               }
               .price{
                display: flex;
                   p{font-family: 'Roboto';
                    font-size: 20px;
                    margin: 0;
                    margin-left: 25px;
                    margin-bottom: 30px;
                    &.gia{color: #ed1a23;}
                    &.khuyenmai{
                        text-decoration-line: line-through;
                        color: #999;
                    }
                    }
               }
               a.btn.btn-info.btn-block{
                width: 230px;
                height: 40px;
                margin-left: 25px;
                background: #2587bf;
               }
           }
       } 
    a.xemtatca{
        font-size: 16px;
        font-family: 'RobotoRegula';
        padding: 13px 22px;
        color: #fff;
        margin-top: 38px;
        margin-bottom: 67px;}
}
// css banner
#banner{
    .imgcw:before{
        padding-bottom: 28%;
    }
}

    //css cho khoi tour
.khoi-tour{
    padding-top:60px;
    text-align: center;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .title-tour-text{
        margin-bottom: 30px;
        p.title-tour{
            font-size: 16px;
            font-family: 'RobotoRegula';
            color: #333;
            margin-bottom: 0;          
        }
    }  
    .tour-row{
        height: 382px;
        margin-bottom: 40px;
        &.row2{
            flex-direction: row-reverse;
        }
            .wrap-img_tourcol{
                .imgcw{
                    &.img-tourcol{
                        height: 383px;
                    }
                    &::before{padding-bottom: 67%;}
                }
            }
        }
    }
    //het css cho khoi tour 

    //css cho info tour
.info-tour{
    position: absolute;
    bottom: 30px;
    left: 37px;
    color: #fff;
    text-align: left;
    z-index: 9;
    a{
        text-decoration: none;
        color: #fff;
        h4{
            font-weight: bold;
            font-size: 20px; 
            font-family: 'Roboto';
            padding-bottom: 15px;
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
    }
    p{
        font-size: 16px;
        font-family: 'Roboto';
        margin-bottom: 0;
    }
    .giatour{
        display: flex;
        height: 18px;
        line-height: 18px;
        .giakhuyenmai{
            font-size: 18px;
            margin-top:15px;
        }
        .giathuc{
            margin-left: 25px;
            font-size: 16px;
            margin-top:15px;
            text-decoration-line: line-through;
        }
    }
}

// css cho tour tuchon
.dulichtuchon{
    padding-top: 60px;
    background-size: cover;
    padding-bottom: 60px;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        color: #fff;
    }
    p.dulichtuchon-text{
        font-size: 16px;
        color: #fff;
        font-family: 'RobotoRegula';
        text-align: center;
    }
        .item-tourtuchon{
            border-radius: 4px;
            overflow: hidden;
        .imgcw::before{
                padding-bottom: 68%;
            }
            .item-tourtuchon_info{
                background: #fff;
                padding-bottom: 25px;
                    p.item-tuchon_tieude{
                        font-size: 18px;
                    font-family: 'Robotobold';
                    color: $maunau;
                    padding-top: 15px;
                    padding-bottom: 0;
                    padding-left: 20px;
                }
                    
                p.item-tuchon_gia{
                    font-size: 18px;
                    font-family: 'Robotobold';
                     padding-bottom: 10px;
                    border-bottom: 1px solid #ebebeb;
                     margin-top: 20px;
                     padding-left: 20px;
                    b{color: red;
                   
                   
                    }
                }
                p.item-tuchon_noidung{
                    font-size: 16px;
                    font-family: 'RobotoRegula';
                    color: #333;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ebebeb;
                    margin-bottom: 0;
                    padding-left: 20px;
                }
            }
            
        }
}

    //css cho tour yeu thich
#tour-yeuthich{
    padding-top: 60px;
    padding-bottom: 60px;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
    }
    .tour-yeuthich-row1{
        padding-bottom: 24px;
        border-bottom: 1px dotted #d7d7d7;
        .item_tour-yeuthichr1{
            position: relative;
            height: 250px;
            overflow: hidden;
            text-align: center;
            .imgcw:before{
                padding-bottom: 68%;
            }
            .item_tour-yeuthichr1_tentour{
                position: absolute;
                bottom: 0;
                z-index: 9;
                width: 100%;
                color: #fff;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 20px;
                    font-family: 'Robotobold';
                }
                p.luotkhach{
                    font-size: 16px;
                    font-family: 'RobotoRegula';
                    border-top: 1px dotted #fff;
                    margin-bottom: 18px;
                    padding-top: 10px;
                }
            }
        }
    }
    .item_tour-yeuthichr2{
        position: relative;
        height: 180px;
        overflow: hidden;
        padding-top: 24px;
        margin-bottom: 20px;

        .item_tour-yeuthichr2_tentour{
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #fff;
            z-index: 9;
            a{
                text-decoration: none;
                color: #fff;
                p{
                    font-family: 'Robotobold';
                    font-size: 18px;
                    margin-bottom: 0;
                    margin-left: 10px;
                }
                p.khampha{
                    font-size: 16px;
                    font-family: 'RobotoRegula';
                    &::after{
                        content: "sdj";
                        background-image: url('images/iconkhampha.png');
                        color: transparent;
                        background-repeat: no-repeat;
                        position: relative;
                        top: 5px;
                        left: 10px;
                    }
                }
            }
        }
    }
}
    //het css cho phan tour yeu thich

    //css cho vi sao chon phuong nam travel
#whyselect{
    padding-top: 60px;
    background: #f6f6f6;
    h3{
        font-size: 30px;
        font-family: 'SVNbold';
        color: $maunau;
        text-align: center;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    .col-md-3{
        margin-bottom: 55px;
    }
    h4{
        font-size: 20px;
        color: $maunau;
        font-family: 'Robotobold';
        border-bottom: 1px dotted $maunau;
        margin-bottom: 20px;
        span{
            position: relative;
            top: -7px;
            font-size: 30px;
            color: #fff;
            padding: 8px 17px;
            background: #c8631e;
            margin-right: 10px;
        }
    }
    p{
        margin: 0;
        font-size: 16px;
        color: #333;
        font-family: 'RobotoRegula';
    }
}

    //het css cho phan vi sao chon phuong nam


.slideykien {
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.slideykien-item {
    padding-top: 60px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
}
h3.ykienkh {
    font-size: 30px;
    margin-top:40px;
    margin-bottom: 60px;
    font-family: 'Robotobold';
    text-transform: uppercase;
}
p.noidung-ykien {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'SVNavoitalic';
}
p.tenkh {
    font-family: 'Robotobold';
    font-size: 20px;
    line-height: 30px;
}






.tinphu{
    .imgcw:before{padding-bottom: 57%;}
}

.col-md-12.pd-0 {
    padding: 0;
}
    //css cho phan .tintuc-thuvien
.tintuc-thuvien{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    .tieude-tintuc{
        display: flex;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
        h1{
            width: 50%;
            font-size: 30px;
            font-family: 'SVNbold';
            font-weight: bold;
            color: $maunau;
            text-transform: uppercase;
            &.thuvienanh{
                width: 100%;
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
            }
            span{
                border-bottom: 3px solid $maunau;
                padding-bottom: 5px;
            }
        }
        a.xemthem{  
            margin-top: 21px;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
        }
        .news{
            .item-border{
                .item-info{
                    a{  
                        margin-top: 20px;
                        color: #333;
                        font-size: 20px;
                        font-family: 'Roboto';
                        font-weight: bold;
                        text-decoration: none;
                        p{
                           margin-top: 20px;
                        }
                    }
                    span{
                        font-family: 'Roboto';
                        font-size: 16px;
                        color: #999;
                        i{color: #999;
                        font-size: 16px;
                        margin-right: 20px;
                        }
                    }
                    p.item-info_content{
                        font-size: 16px;
                        font-family: 'Roboto';
                        color: #333;
                    }
                }
            }
        }
    .tinphu{
        .tinphu-info{
            margin-left: 15px;
        }
        a{
            font-size: 14px;
            color: #333;
            font-family: 'Roboto';
            text-decoration: none;
        }
            p.tinphu-tieude{
                margin-right: 20px
            }
            span{
                font-family: 'Roboto';
                font-size: 16px;
                 color: #999;
                i{
                color: #999;
                font-size: 16px;
                margin-right: 5px;
                }
            }
    }
    .thuvien{
        .wrap-thuvien {
            padding-bottom: 20px;
        }
        
        p.thuvien-text{
            color: #fff;
            font-size: 18px;
            z-index: 1;
            position: absolute;
            font-family: 'Roboto';
            bottom: 20px;
            left: 20px;
        }
    }    
        .thuvien-item{
            p{
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 18px
            }
        }
        .tinphu {
            display: flex;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px dotted #ddd;
        }
        .item-tinphu {
            width: 50%;
            height: 105px;
        }
        .tinphu-info {
            width: 50%;
        }
}

.wrap-thuvien .imgcw:before {
    padding-bottom: 56%;
}
    //het css cho phan tin tuc thu vien
footer{
    background: #f6f6f6;
    padding-bottom: 60px;
    p{
        &.newletter{
            font-size: 20px;
            text-transform: uppercase;
            color: $maunau;
            font-family: 'SVNbold';
            margin-bottom: 20px;
            margin-top: 35px;
        }
    }
    .footer-form{
        position: relative;
        input[type="text"]{
            width: 100%;
            height: 40px;
            padding-left: 10px;
            padding-right: 65px;
        }
         button.btn {
            background: orange;
            position: absolute;
            top: 0px;
            right: 0;
            height: 39px;
            border: none;
            border-radius: 0;
            i{
                color: #fff;
            }
        }
    }
    ul{list-style: none;
        li{
            a{
                color: #333;
                font-size: 16px;
                font-family: 'SVNavo';
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
}

    //css cho phan coppyright
.coppyright{
    .wrap-coppyright{
        width: 900px;
        margin-left:  auto;
        margin-right: auto;
        text-align: center;
        p{  margin-top: 20px;
            font-size: 15px;
            color: #333;
            font-family: 'RobotoRegula';
        }
    }
}
    //het css cho phan coppy right

    // chinh css cho slide y kien khach hang 
.slideykien.slick-initialized.slick-slider.slick-dotted {
    width: 100%;
    height: 400px;
    /* padding-bottom: 100px; */
}
.item-slideykien {
    width: 100%;
    height: 100%;
    background-size: cover;
}
h3.ykienkh {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Robotobold';
    text-transform: uppercase;
}
.slideykien ul.slick-dots{
    bottom: 40px;
}

//css nut xemtatca
a.xemtatca{
    background: $maunau;
    font-size: 16px;
    font-family: 'RobotoRegula';
    padding: 13px 22px;
    color: #fff;
    margin-top: 38px;
    margin-bottom: 67px;}

//css back ground cho tour nuoc ngoai
.khoi-tour.tour-nuocngoai{
    background: #f6f6f6;
}

/*#region phần khung ảnh tự căn vừa khung của Tất Thành - khungAnhCrop */
.imgcw {
  position: relative;
  z-index: 1; }
  .imgcw:before {
    content: "";
    display: block;
    padding-bottom: 80%;
   }
  .imgcw .imgc,
  .imgcw .imgc0 {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .imgcw .imgc0 {
    font-size: 0; }
    .imgcw .imgc0:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
    .imgcw .imgc0 img {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle; }
  .imgcw .imgc img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.container{
    max-width: 1200px;
}

//css cho slide



ul.slick-dots {
    position: absolute;
    bottom: 30px;
}
ul.slick-dots li {
    margin: 0px;
    margin-right: 5px;
}
ul.slick-dots {
    position: absolute;
    bottom: 30px;
    z-index: 999;
}
ul.slick-dots li button{
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}
ul.slick-dots li.slick-active button{
    background: #fff;
}
.slick-dots li button::before {
    width: 0;
    height: 0;
    content: "";
}
.slick-dotted.slick-slider{
	margin: 0;
}


.tintuc-thuvien ul.slick-dots {
    position: absolute;
    bottom: 30px;
}
.tintuc-thuvien ul.slick-dots li {
    margin: 0px;
    margin-right: 5px;
}
.tintuc-thuvien ul.slick-dots {
    position: absolute;
    top: 480px;
    z-index: 999;
}
.tintuc-thuvien ul.slick-dots li button{
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.tintuc-thuvien ul.slick-dots li.slick-active button{
    background: $maunau;
}
.tintuc-thuvien ul.slick-dots li button{
    background: #ddd;
}
.tintuc-thuvien ul.slick-dots li button:hover{
    background: $maunau;
}

.tintuc-thuvien .slick-dots li button::before {
    width: 0;
    height: 0;
    content: "";
}
.tintuc-thuvien .slick-dotted.slick-slider{
	margin: 0;
}
.slick-slide{
    height: auto;
}
// het css cho slide
.f-left{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.f-left:first-child{
    margin-left: 0;
}
.mg-0{
    margin-left: 0;
}

a.mxh-item i {
    margin-right: 10px;
    background: red;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    color: #fff;
    border-radius: 100%;
}
a.mxh-item i.facebook{background: #3b5997;}
a.mxh-item i.google{background: #db5149;}
a.mxh-item i.twitter{background: #00aced;}

//css cho rang cua
.tour-trongnuoc{
    overflow: hidden;
    position: relative;
    .sawbot{
    position: absolute;
    bottom: 0;
    left: 0;
    }
}

#tour-yeuthich{
    position: relative;
    .sawtop{
        position: absolute;
        top: -6px;
        left: 0;
    }
    .sawbot{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.sawtop{
    position: absolute;
    top: -6px;
    left: 0;
}
.sawbot{
    position: absolute;
    bottom: 0;
    left: 0;
}
// het css cho rang cua
