@charset "UTF-8";
@font-face {
  font-family: 'RobotoCondensed';
  src: url("fonts/RobotoCondensed-Light.ttf"); }
@font-face {
  font-family: 'RobotoCondensed';
  src: url("fonts/RobotoCondensed-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'RobotoRegula';
  src: url("fonts/RobotoCondensed-Regular.ttf"); }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto.ttf"), url("fonts/roboto.woff"); }
@font-face {
  font-family: 'Robotolight';
  src: url("fonts/RobotoCondensed-Light.ttf"); }
@font-face {
  font-family: 'Robotobold';
  src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
  font-weight: bold; }
@font-face {
  font-family: 'SVNbold';
  src: url("fonts/SVN-Helvetica Neue Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'SVNavo';
  src: url("fonts/SVN-Avo.ttf"); }
@font-face {
  font-family: 'SVNavobold';
  src: url("fonts/SVN-Avo bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'SVNavoitalic';
  src: url("fonts/SVN-Avo italic.ttf"); }
* {
  margin: 0;
  padding: 0; }

body, html {
  overflow-x: hidden; }

#top-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #c8631e; }
  #top-header ul {
    display: flex;
    justify-content: flex-end; }
    #top-header ul li {
      list-style: none; }
      #top-header ul li a {
        font-size: 15px;
        font-family: 'Roboto';
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 0 12px;
        cursor: pointer; }
        #top-header ul li a:hover {
          background: #d3824b; }

#header {
  height: 87px;
  width: 100%; }
  #header a {
    display: flex;
    width: 50%; }
  #header .header-contact {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center; }
    #header .header-contact .ngonngu {
      padding-right: 20px;
      border-right: 1px solid #ddd; }
      #header .header-contact .ngonngu img {
        margin-right: 10px; }
      #header .header-contact .ngonngu span {
        font-size: 18px;
        color: #333; }
    #header .header-contact .phone {
      display: flex;
      margin-left: 20px; }
      #header .header-contact .phone img {
        margin-right: 10px; }
      #header .header-contact .phone .hotline p {
        margin: 0;
        font-size: 18px;
        color: 333; }
        #header .header-contact .phone .hotline p.sdt {
          color: red;
          font-size: 20px; }

#slide-w {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 724px; }
  #slide-w .slide .imgc0 img {
    width: 100%;
    height: 724px; }
  #slide-w .content-slide {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'SVNavo'; }
    #slide-w .content-slide p.khampha {
      font-size: 30px;
      margin: 0;
      padding: 0;
      margin-top: 100px; }
    #slide-w .content-slide h1 {
      margin: 0;
      padding: 0;
      margin-top: 35px;
      font-size: 45px;
      text-transform: uppercase;
      font-family: 'SVNavobold'; }
    #slide-w .content-slide p {
      margin: 0;
      padding: 0;
      margin-top: 35px;
      font-size: 20px; }
    #slide-w .content-slide a {
      margin: 0;
      padding: 0;
      font-size: 20px;
      background: transparent;
      border: 1px solid #fff;
      margin-top: 35px;
      padding: 15px 24px;
      color: #fff;
      font-family: 'Roboto'; }
  #slide-w .form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 200px;
    background: #23505a6e; }
    #slide-w .form .form-t {
      display: flex;
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      width: 880px; }
      #slide-w .form .form-t p {
        color: #fff;
        font-size: 20px;
        font-family: 'Robotoregula';
        margin-top: 30px;
        margin-bottom: 10px;
        width: 390px;
        padding-left: 20px; }
    #slide-w .form form {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 900px;
      height: 48px;
      display: flex;
      margin-bottom: 85px; }
      #slide-w .form form input {
        width: 390px;
        height: 48px;
        color: #fff;
        font-size: 18px;
        font-family: 'Robotoregula';
        border: none;
        padding-left: 10px; }
        #slide-w .form form input.form-ip1 {
          border-right: 1px solid #ddd;
          border-radius: 4px 0 0 4px; }
      #slide-w .form form button {
        width: 120px;
        height: 48px;
        font-size: 18px;
        font-family: 'Roboto';
        text-transform: uppercase;
        background: #2587bf; }

#timtour {
  width: 100%;
  height: 93px;
  line-height: 93px;
  position: relative;
  border-bottom: 1px solid #ababab; }
  #timtour .wrap-itemtour img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  #timtour .item-tour {
    border-bottom: 3px solid transparent; }
    #timtour .item-tour:hover {
      border-bottom: 3px solid red; }
    #timtour .item-tour a {
      text-decoration: none; }
      #timtour .item-tour a img {
        margin-right: 5px; }
      #timtour .item-tour a span {
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'SVNbold'; }
        #timtour .item-tour a span.t1 {
          color: #015196; }
        #timtour .item-tour a span.t2 {
          color: #f0433a; }
        #timtour .item-tour a span.t3 {
          color: #f2a30f; }
        #timtour .item-tour a span.t4 {
          color: #0d8e74; }

#loaitour {
  width: 100%;
  height: 133px; }
  #loaitour .borderb-saw {
    width: 100%;
    height: 133px;
    position: absolute; }
    #loaitour .borderb-saw img {
      position: absolute;
      bottom: 0;
      width: 100%; }
  #loaitour .wrap-item_loaitour .loaitour-img {
    display: flex;
    margin-top: 25px;
    text-align: center; }
    #loaitour .wrap-item_loaitour .loaitour-img a {
      text-decoration: none;
      color: #333; }
      #loaitour .wrap-item_loaitour .loaitour-img a img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px; }
      #loaitour .wrap-item_loaitour .loaitour-img a p {
        font-size: 16px;
        font-family: 'Roboto'; }

#tour-last {
  padding-top: 60px;
  text-align: center;
  background: #f6f6f6; }
  #tour-last h3.tour-last_title {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    margin-bottom: 30px; }
  #tour-last p {
    font-size: 16px;
    font-family: 'RobotoRegula';
    color: #333;
    margin-bottom: 40px; }
  #tour-last .wrap-item_tour-last {
    display: flex;
    height: 265px;
    margin-bottom: 30px;
    width: 100%; }
    #tour-last .wrap-item_tour-last.p2 {
      flex-direction: row-reverse;
      width: 100%; }
    #tour-last .wrap-item_tour-last .wrap-img_tourlast {
      width: 50%;
      overflow: hidden; }
      #tour-last .wrap-item_tour-last .wrap-img_tourlast .imgcw:before {
        padding-bottom: 46%; }
    #tour-last .wrap-item_tour-last .info_tour-last {
      width: 50%; }
      #tour-last .wrap-item_tour-last .info_tour-last h4 {
        font-size: 20px;
        color: #ff8d00;
        margin: 0;
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 30px;
        font-family: 'Roboto';
        text-align: left; }
      #tour-last .wrap-item_tour-last .info_tour-last .lichdi {
        display: flex;
        text-align: left; }
        #tour-last .wrap-item_tour-last .info_tour-last .lichdi .chuanbi {
          width: 50%;
          padding-left: 25px;
          margin-bottom: 20px; }
          #tour-last .wrap-item_tour-last .info_tour-last .lichdi .chuanbi p {
            font-size: 16px;
            font-family: 'Roboto';
            margin-bottom: 5px; }
        #tour-last .wrap-item_tour-last .info_tour-last .lichdi .khoihanh p {
          font-size: 16px;
          font-family: 'Roboto';
          margin-bottom: 5px; }
      #tour-last .wrap-item_tour-last .info_tour-last .price {
        display: flex; }
        #tour-last .wrap-item_tour-last .info_tour-last .price p {
          font-family: 'Roboto';
          font-size: 20px;
          margin: 0;
          margin-left: 25px;
          margin-bottom: 30px; }
          #tour-last .wrap-item_tour-last .info_tour-last .price p.gia {
            color: #ed1a23; }
          #tour-last .wrap-item_tour-last .info_tour-last .price p.khuyenmai {
            text-decoration-line: line-through;
            color: #999; }
      #tour-last .wrap-item_tour-last .info_tour-last a.btn.btn-info.btn-block {
        width: 230px;
        height: 40px;
        margin-left: 25px;
        background: #2587bf; }
  #tour-last a.xemtatca {
    font-size: 16px;
    font-family: 'RobotoRegula';
    padding: 13px 22px;
    color: #fff;
    margin-top: 38px;
    margin-bottom: 67px; }

#banner .imgcw:before {
  padding-bottom: 28%; }

.khoi-tour {
  padding-top: 60px;
  text-align: center; }
  .khoi-tour h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .khoi-tour .title-tour-text {
    margin-bottom: 30px; }
    .khoi-tour .title-tour-text p.title-tour {
      font-size: 16px;
      font-family: 'RobotoRegula';
      color: #333;
      margin-bottom: 0; }
  .khoi-tour .tour-row {
    height: 382px;
    margin-bottom: 40px; }
    .khoi-tour .tour-row.row2 {
      flex-direction: row-reverse; }
    .khoi-tour .tour-row .wrap-img_tourcol .imgcw.img-tourcol {
      height: 383px; }
    .khoi-tour .tour-row .wrap-img_tourcol .imgcw::before {
      padding-bottom: 67%; }

.info-tour {
  position: absolute;
  bottom: 30px;
  left: 37px;
  color: #fff;
  text-align: left;
  z-index: 9; }
  .info-tour a {
    text-decoration: none;
    color: #fff; }
    .info-tour a h4 {
      font-weight: bold;
      font-size: 20px;
      font-family: 'Roboto';
      padding-bottom: 15px;
      width: 100%;
      border-bottom: 1px solid #ddd; }
  .info-tour p {
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 0; }
  .info-tour .giatour {
    display: flex;
    height: 18px;
    line-height: 18px; }
    .info-tour .giatour .giakhuyenmai {
      font-size: 18px;
      margin-top: 15px; }
    .info-tour .giatour .giathuc {
      margin-left: 25px;
      font-size: 16px;
      margin-top: 15px;
      text-decoration-line: line-through; }

.dulichtuchon {
  padding-top: 60px;
  background-size: cover;
  padding-bottom: 60px; }
  .dulichtuchon h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    color: #fff; }
  .dulichtuchon p.dulichtuchon-text {
    font-size: 16px;
    color: #fff;
    font-family: 'RobotoRegula';
    text-align: center; }
  .dulichtuchon .item-tourtuchon {
    border-radius: 4px;
    overflow: hidden; }
    .dulichtuchon .item-tourtuchon .imgcw::before {
      padding-bottom: 68%; }
    .dulichtuchon .item-tourtuchon .item-tourtuchon_info {
      background: #fff;
      padding-bottom: 25px; }
      .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_tieude {
        font-size: 18px;
        font-family: 'Robotobold';
        color: #c8631e;
        padding-top: 15px;
        padding-bottom: 0;
        padding-left: 20px; }
      .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_gia {
        font-size: 18px;
        font-family: 'Robotobold';
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        margin-top: 20px;
        padding-left: 20px; }
        .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_gia b {
          color: red; }
      .dulichtuchon .item-tourtuchon .item-tourtuchon_info p.item-tuchon_noidung {
        font-size: 16px;
        font-family: 'RobotoRegula';
        color: #333;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 0;
        padding-left: 20px; }

#tour-yeuthich {
  padding-top: 60px;
  padding-bottom: 60px; }
  #tour-yeuthich h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    position: relative; }
  #tour-yeuthich .tour-yeuthich-row1 {
    padding-bottom: 24px;
    border-bottom: 1px dotted #d7d7d7; }
    #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 {
      position: relative;
      height: 250px;
      overflow: hidden;
      text-align: center; }
      #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .imgcw:before {
        padding-bottom: 68%; }
      #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .item_tour-yeuthichr1_tentour {
        position: absolute;
        bottom: 0;
        z-index: 9;
        width: 100%;
        color: #fff; }
        #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .item_tour-yeuthichr1_tentour a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-family: 'Robotobold'; }
        #tour-yeuthich .tour-yeuthich-row1 .item_tour-yeuthichr1 .item_tour-yeuthichr1_tentour p.luotkhach {
          font-size: 16px;
          font-family: 'RobotoRegula';
          border-top: 1px dotted #fff;
          margin-bottom: 18px;
          padding-top: 10px; }
  #tour-yeuthich .item_tour-yeuthichr2 {
    position: relative;
    height: 180px;
    overflow: hidden;
    padding-top: 24px;
    margin-bottom: 20px; }
    #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #fff;
      z-index: 9; }
      #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a {
        text-decoration: none;
        color: #fff; }
        #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a p {
          font-family: 'Robotobold';
          font-size: 18px;
          margin-bottom: 0;
          margin-left: 10px; }
        #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a p.khampha {
          font-size: 16px;
          font-family: 'RobotoRegula'; }
          #tour-yeuthich .item_tour-yeuthichr2 .item_tour-yeuthichr2_tentour a p.khampha::after {
            content: "sdj";
            background-image: url("images/iconkhampha.png");
            color: transparent;
            background-repeat: no-repeat;
            position: relative;
            top: 5px;
            left: 10px; }

#whyselect {
  padding-top: 60px;
  background: #f6f6f6; }
  #whyselect h3 {
    font-size: 30px;
    font-family: 'SVNbold';
    color: #c8631e;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase; }
  #whyselect .col-md-3 {
    margin-bottom: 55px; }
  #whyselect h4 {
    font-size: 20px;
    color: #c8631e;
    font-family: 'Robotobold';
    border-bottom: 1px dotted #c8631e;
    margin-bottom: 20px; }
    #whyselect h4 span {
      position: relative;
      top: -7px;
      font-size: 30px;
      color: #fff;
      padding: 8px 17px;
      background: #c8631e;
      margin-right: 10px; }
  #whyselect p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-family: 'RobotoRegula'; }

.slideykien {
  text-align: center;
  color: #fff;
  overflow: hidden; }

.slideykien-item {
  padding-top: 60px;
  padding-bottom: 120px;
  background-position: center;
  background-size: cover; }

h3.ykienkh {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: 'Robotobold';
  text-transform: uppercase; }

p.noidung-ykien {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'SVNavoitalic'; }

p.tenkh {
  font-family: 'Robotobold';
  font-size: 20px;
  line-height: 30px; }

.tinphu .imgcw:before {
  padding-bottom: 57%; }

.col-md-12.pd-0 {
  padding: 0; }

.tintuc-thuvien {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative; }
  .tintuc-thuvien .tieude-tintuc {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px; }
  .tintuc-thuvien h1 {
    width: 50%;
    font-size: 30px;
    font-family: 'SVNbold';
    font-weight: bold;
    color: #c8631e;
    text-transform: uppercase; }
    .tintuc-thuvien h1.thuvienanh {
      width: 100%;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px; }
    .tintuc-thuvien h1 span {
      border-bottom: 3px solid #c8631e;
      padding-bottom: 5px; }
  .tintuc-thuvien a.xemthem {
    margin-top: 21px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none; }
  .tintuc-thuvien .news .item-border .item-info a {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none; }
    .tintuc-thuvien .news .item-border .item-info a p {
      margin-top: 20px; }
  .tintuc-thuvien .news .item-border .item-info span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #999; }
    .tintuc-thuvien .news .item-border .item-info span i {
      color: #999;
      font-size: 16px;
      margin-right: 20px; }
  .tintuc-thuvien .news .item-border .item-info p.item-info_content {
    font-size: 16px;
    font-family: 'Roboto';
    color: #333; }
  .tintuc-thuvien .tinphu .tinphu-info {
    margin-left: 15px; }
  .tintuc-thuvien .tinphu a {
    font-size: 14px;
    color: #333;
    font-family: 'Roboto';
    text-decoration: none; }
  .tintuc-thuvien .tinphu p.tinphu-tieude {
    margin-right: 20px; }
  .tintuc-thuvien .tinphu span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #999; }
    .tintuc-thuvien .tinphu span i {
      color: #999;
      font-size: 16px;
      margin-right: 5px; }
  .tintuc-thuvien .thuvien .wrap-thuvien {
    padding-bottom: 20px; }
  .tintuc-thuvien .thuvien p.thuvien-text {
    color: #fff;
    font-size: 18px;
    z-index: 1;
    position: absolute;
    font-family: 'Roboto';
    bottom: 20px;
    left: 20px; }
  .tintuc-thuvien .thuvien-item p {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px; }
  .tintuc-thuvien .tinphu {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ddd; }
  .tintuc-thuvien .item-tinphu {
    width: 50%;
    height: 105px; }
  .tintuc-thuvien .tinphu-info {
    width: 50%; }

.wrap-thuvien .imgcw:before {
  padding-bottom: 56%; }

footer {
  background: #f6f6f6;
  padding-bottom: 60px; }
  footer p.newletter {
    font-size: 20px;
    text-transform: uppercase;
    color: #c8631e;
    font-family: 'SVNbold';
    margin-bottom: 20px;
    margin-top: 35px; }
  footer .footer-form {
    position: relative; }
    footer .footer-form input[type="text"] {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      padding-right: 65px; }
    footer .footer-form button.btn {
      background: orange;
      position: absolute;
      top: 0px;
      right: 0;
      height: 39px;
      border: none;
      border-radius: 0; }
      footer .footer-form button.btn i {
        color: #fff; }
  footer ul {
    list-style: none; }
    footer ul li a {
      color: #333;
      font-size: 16px;
      font-family: 'SVNavo';
      text-decoration: none; }
      footer ul li a:hover {
        text-decoration: none;
        color: #333; }

.coppyright .wrap-coppyright {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .coppyright .wrap-coppyright p {
    margin-top: 20px;
    font-size: 15px;
    color: #333;
    font-family: 'RobotoRegula'; }

.slideykien.slick-initialized.slick-slider.slick-dotted {
  width: 100%;
  height: 400px;
  /* padding-bottom: 100px; */ }

.item-slideykien {
  width: 100%;
  height: 100%;
  background-size: cover; }

h3.ykienkh {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Robotobold';
  text-transform: uppercase; }

.slideykien ul.slick-dots {
  bottom: 40px; }

a.xemtatca {
  background: #c8631e;
  font-size: 16px;
  font-family: 'RobotoRegula';
  padding: 13px 22px;
  color: #fff;
  margin-top: 38px;
  margin-bottom: 67px; }

.khoi-tour.tour-nuocngoai {
  background: #f6f6f6; }

/*#region phần khung ảnh tự căn vừa khung của Tất Thành - khungAnhCrop */
.imgcw {
  position: relative;
  z-index: 1; }

.imgcw:before {
  content: "";
  display: block;
  padding-bottom: 80%; }

.imgcw .imgc,
.imgcw .imgc0 {
  overflow: hidden;
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.imgcw .imgc0 {
  font-size: 0; }

.imgcw .imgc0:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%; }

.imgcw .imgc0 img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle; }

.imgcw .imgc img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container {
  max-width: 1200px; }

ul.slick-dots {
  position: absolute;
  bottom: 30px; }

ul.slick-dots li {
  margin: 0px;
  margin-right: 5px; }

ul.slick-dots {
  position: absolute;
  bottom: 30px;
  z-index: 999; }

ul.slick-dots li button {
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #fff; }

ul.slick-dots li.slick-active button {
  background: #fff; }

.slick-dots li button::before {
  width: 0;
  height: 0;
  content: ""; }

.slick-dotted.slick-slider {
  margin: 0; }

.tintuc-thuvien ul.slick-dots {
  position: absolute;
  bottom: 30px; }

.tintuc-thuvien ul.slick-dots li {
  margin: 0px;
  margin-right: 5px; }

.tintuc-thuvien ul.slick-dots {
  position: absolute;
  top: 480px;
  z-index: 999; }

.tintuc-thuvien ul.slick-dots li button {
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  border: none; }

.tintuc-thuvien ul.slick-dots li.slick-active button {
  background: #c8631e; }

.tintuc-thuvien ul.slick-dots li button {
  background: #ddd; }

.tintuc-thuvien ul.slick-dots li button:hover {
  background: #c8631e; }

.tintuc-thuvien .slick-dots li button::before {
  width: 0;
  height: 0;
  content: ""; }

.tintuc-thuvien .slick-dotted.slick-slider {
  margin: 0; }

.slick-slide {
  height: auto; }

.f-left {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px; }

.f-left:first-child {
  margin-left: 0; }

.mg-0 {
  margin-left: 0; }

a.mxh-item i {
  margin-right: 10px;
  background: red;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  color: #fff;
  border-radius: 100%; }

a.mxh-item i.facebook {
  background: #3b5997; }

a.mxh-item i.google {
  background: #db5149; }

a.mxh-item i.twitter {
  background: #00aced; }

.tour-trongnuoc {
  overflow: hidden;
  position: relative; }
  .tour-trongnuoc .sawbot {
    position: absolute;
    bottom: 0;
    left: 0; }

#tour-yeuthich {
  position: relative; }
  #tour-yeuthich .sawtop {
    position: absolute;
    top: -6px;
    left: 0; }
  #tour-yeuthich .sawbot {
    position: absolute;
    bottom: 0;
    left: 0; }

.sawtop {
  position: absolute;
  top: -6px;
  left: 0; }

.sawbot {
  position: absolute;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=main.css.map */
